*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(img/sfondo.png);
}

.contenitore{
margin: 35px, 35px, 0px;
box-sizing: border-box;
}

/* header */
header {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.blocco-titolo{
  background-image: url(img/banner.jpg);
  background-size: cover;
  position: relative;
  border: solid 10px white;
  height: 40vh;
  width: auto;
}

.titolo{
  position: absolute;
  transform: translate( -50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 50px;
  color: white;
}

.sottotitolo{
  font-size: 20px;
}

/* nav */
nav {
  height: 50px;
  position:relative;
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
  background: #666666;
}

nav ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
}

nav li{
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 3px;
  padding: 6px;
  cursor: pointer;
}

nav li:hover{
  background-color: #2e302f;
}

main::after{
  content: "";
  display: table;
  clear: both;
}

/* parte sinistra */
.sinistro {
  float: left;
  width: 300px;
  margin: 10px;
}

.unos{
  /* debug */
 height: 300px;
 border: solid black;
  /* fine debug */
 margin-bottom: 10px;
}

.dues{
 /* debug */
 height: 200px;
 border: solid black;
 /* fine debug */
 margin-bottom: 10px;
 }

 .tres{
  /* debug */
  height: 250px;
  border: solid black;
  /* fine debug */
 }

/* parte centrale */
section{
/* debug */
  height: 1500px;
  width: 700px;
  border: solid black;
  /* fine debug */
  margin: 10px;
  float: left;
}

/* parte destra */
.destro{
  float: right;
  width: 289px;
  margin: 10px;
  float: left;
}

.unod{
/* debug */
 height: 150px;
 border: solid black;
 /* fine debug */
 margin-bottom: 10px;
}

.dued{
/* debug */
 height: 100px;
 border: solid black;
 /* fine debug */
 }

 /* fondo pagina */
 #ricerca::after{
   content: "";
   display: table;
   clear: both;
 }

 #ricerca{
  background: white;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: solid 1px grey;
  padding: 20px;
 }

 .colonna{
   float: left;
   width: 20%;
   margin-right: 10px;
   margin-left: 10px;
   padding: 50px;
 }
 .colonna:nth-child(3){
   width: 15%;
 }

 .colonna:last-child{
   width: 35%;
 }

 .colonna li:hover{
   cursor: pointer;
 }

 /* footer */
 footer::after{
   content: "";
   display: table;
   clear: both;
 }
  footer{
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  padding: 25px;
 }
