*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(img/sfondo.png);
}

.contenitore{
margin: 35px, 35px, 0px;
box-sizing: border-box;
}

header {
  /* debug */
  border: solid black;
  height: 150px;
  /* fine debug */
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

nav {
  /* debug */
  border: solid black;
  height: 50px;
  /* fine debug */
  margin-left: 10px;
  margin-right: 10px;
}

main::after{
  content: "";
  display: table;
  clear: both;
}

/* parte sinistra */
.sinistro {
  float: left;
  width: 300px;
  margin: 10px;
}

.unos{
  /* debug */
 height: 300px;
 border: solid black;
  /* fine debug */
 margin-bottom: 10px;
}

.dues{
 /* debug */
 height: 200px;
 border: solid black;
 /* fine debug */
 margin-bottom: 10px;
 }

 .tres{
  /* debug */
  height: 250px;
  border: solid black;
  /* fine debug */
 }

/* parte centrale */
section{
/* debug */
  height: 1500px;
  width: 700px;
  border: solid black;
  /* fine debug */
  margin: 10px;
  float: left;
}

/* parte destra */
.destro{
  float: right;
  width: 289px;
  margin: 10px;
  float: left;
}

.unod{
/* debug */
 height: 150px;
 border: solid black;
 /* fine debug */
 margin-bottom: 10px;
}

.dued{
/* debug */
 height: 100px;
 border: solid black;
 /* fine debug */
 }

.ricerca{
 /* debug */
 height: 240px;
 border: solid black;
 /* fine debug */
 margin-left: 10px;
 margin-right: 10px;
}

 footer{
  /* debug */
  height: 70px;
  border: solid black;
  /* fine debug */
  margin-left: 10px;
  margin-right: 10px;
 }
