*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(img/sfondo.png);
}

.contenitore{
margin: 35px, 35px, 0px;
box-sizing: border-box;
}

/* header */
header {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.blocco-titolo{
  background-image: url(img/banner.jpg);
  background-size: cover;
  position: relative;
  border: solid 10px white;
  height: 40vh;
  width: auto;
}

.titolo{
  position: absolute;
  transform: translate( -50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 50px;
  color: white;
}

.sottotitolo{
  font-size: 20px;
}

/* nav */
nav {
  height: 50px;
  position:relative;
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
  background: #666666;
}

nav ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
}

nav li{
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 3px;
  padding: 6px;
  cursor: pointer;
}

nav li:hover{
  background-color: #2e302f;
}

/* struttura centrale */
main::after{
  content: "";
  display: table;
  clear: both;
}

aside, #centro {
  float:left;
}

/* parte sinistra */
#sinistro{
  height: auto;
  width: 20%;
  margin-left: 10px;
  margin-top: 10px;
}

.pages{
 background: white;
 padding: 20px;
 margin-bottom: 10px;
}

ul{
  list-style-type: none;
}

h3{
  color: #504741;
}

#sinistro li{
  color: #99cc33;
  padding: 5px 0px 5px 10px;
  margin-bottom: 10px;
}


.archives{
  background: white;
  padding: 20px;
  margin-bottom: 10px;
 }

.meta{
   background: white;
   padding: 20px;
   margin-bottom: 10px;
}

#sinistro li:hover{
  cursor: pointer;
}

/* parte centrale */

#centro{
  width: 56%;
  height: auto;
  margin: 10px;
}

.primo-articolo{
  background: white;
  padding: 20px;
  border-bottom: solid 1px black;
}

.articolo{
  /* margin: 10px; */
}

h2{
 color: #504741;
 font-size: 28px;
 text-align: center;
}

article img{
  height: auto;
  width: calc(100% + 40px);
  transform: translate(-20px, 0px);
}

.secondo-articolo{
  background: white;
  padding: 20px;
  margin-bottom: 10px;
}

/* parte destra */
#destro{
  float:right;
  width: 20%;
  margin-top: 10px;
  margin-right: 10px;
}

.cerca{
 background: white;
 padding: 60px;
 margin-bottom: 10px;
}

#destro input{
  height: 50px;
}

#destro input[type=text]{
  float: left;
  width: 70%;
  transform:translate(-10%, -20%);
}

#destro input[type=submit]{
  float: right;
  width: 30%;
  transform:translate(-10%, -20%);
}

.cerca::after{
  content: "";
  display: table;
  clear: both;
}

.tag-cloud{
 background: white;
 padding: 20px;
 margin-bottom: 10px;
}

/* fondo pagina */
#ricerca::after{
  content: "";
  display: table;
  clear: both;
}

#ricerca{
 background: white;
 margin-left: 10px;
 margin-right: 10px;
 border-bottom: solid 1px grey;
 padding: 20px;
}

.colonna{
  float: left;
  width: 20%;
  margin-right: 10px;
  margin-left: 10px;
  padding: 50px;
}
.colonna:nth-child(3){
  width: 15%;
}

.colonna:last-child{
  width: 35%;
}

.colonna li:hover{
  cursor: pointer;
}

/* footer */
footer::after{
  content: "";
  display: table;
  clear: both;
}
 footer{
 background-color: white;
 margin-left: 10px;
 margin-right: 10px;
 padding: 25px;
}
